@model IEnumerable<dominio.Disco>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <form asp-action="Index" method="get" >
        <input value="@ViewBag.filtro" type="text" class="form-control" name="filtro" placeholder="Search a disk..." />
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</p>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaLanzamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadCanciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEdicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estilo)
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaLanzamiento.Day)/@Html.DisplayFor(modelItem => item.FechaLanzamiento.Month)/@Html.DisplayFor(modelItem => item.FechaLanzamiento.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadCanciones)
            </td>
            <td>
                @item.TipoEdicion.Descripcion
            </td>
            <td>
                @item.Estilo.Descripcion
            </td>
            <td>
                <image src="@item.UrlTapa" height="150">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
